<div class="main">
  <div class="up">
    <hr class="line">
    <div class="child">
      <%= image_tag "image_cat.png", class: 'image' %>
    </div>
    <div class="child right">
      <p class="child_title">Честер</p>
      <p class="child_title child_text">Порода: русская<br> голубая</p>
      <p class="child_title child_text">Возраст: 1 год</p>
    </div>
  </div>
  <div class="down">
    <hr class="line">
    <div class="child left">
      <p><b>Любимое лакомство:</b><br> цветы на подоконнике</p>
      <p><b>Любимая игрушка:</b><br> мышка</p>
      <p><b>Любимое занаятие:</b><br> скачки</p>
      <p><b>Хобби:</b> сон</p>
      <p><b>Увлечение:</b> бой с тенью</p>
      <p>Интеллигентная<br> личность,</p>
      <p>По своей сущности-<br> охотник</p>
      <p>Вожак уличной стаи</p>
      <p>Очень<br> коммуникабельный</p>
      <p>Прихотлив в еде</p>
    </div>
    <div class="child right">
      <%= image_tag "eEmbpXPtYkw.jpg", class: 'image1' %>
    </div>
    <hr/>
  </div>
</div>


