// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.main {
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  background: #d6c9ea;
}
.image {
  width: 300px;
}
.image1 {

}
.up {
 width: 100%;
  .right {
    position: absolute;
    background-image: url(background_cat.png);
    background-size: cover;
    width: 448px;
    height: 413px;
    margin-top: 10px;
    p {
      background: white;
    }
  }
}

.child {
  display: inline-block;
  padding: 10px;
}
.down .left {
  margin: 5px;
  border: 10px solid #412b64;
}

.line {
  border: 3px solid;
}

.left {
  width: 316px;
}

p {
  font-size: 24px;
}

hr {
  margin: auto;
}

.child_title {
  font-size: 46px;
  font-family: Helvetica, "Trebuchet MS", Verdana, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}

.child_text {
  font-size: 36px;
  font-weight: bold;
}

